body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}
h1, h2, h3{
    color: #2e2f42;
}


a { text-decoration: none;}
li { list-style-type: none;}

/*-------------Logo---------------*/
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

/*-----------Navigation----------*/
/*todo delete*/
.navigation-studio-item{
    color: #2e2f42;
}
.navigation-item {
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
}
.navigation-item:hover,
.navigation-item:focus
 {
    color: #404bbf;
}

/*todo late Active State again
.navigation-item .navigation-studio-item:active {
    text-decoration: underline;
}*/

/*-----------Contacts----------*/
.contacts{
    font-style: normal;

}
.contacts-link {
    line-height: 1.5;
    color: #434455;
}

.contacts-link:hover, 
.contacts-link:focus{
    color: #404bbf;
}

/*-----------Effective Solutions Section----------*/
.effective-solutions-section-title { /*todo h2, h3 have the same values -> may use 1 style for all*/
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em; /*todo delete. body has such attr*/
    color: #fff;
}


.effective-solutions-section {
    text-align: center;
    background-color: #2e2f42;
}

.order-service-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    background: #4d5ae5;
}
.order-service-button:hover,
.order-service-button:focus {
    background: #404bbf;
}

/*-------- Solutions section---------*/
.title-common { /*todo h2, h3 have the same values -> may use 1 style for all*/
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; /*todo delete. body has such attr*/
}
.text-common {
    line-height: 1.5;
    font-size: 16px;
}

/*----------Our Team section-----------*/
.our-team-section{
    background-color: #f4f4fd;
}
.our-team-list {
    background-color: #fff;
}

.our-team-section-title { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em; /*todo delete. body has such attr*/
}

.our-team-list p {
    line-height: 1.5;
    text-align: center;
}

/*------------Portfolio-------------*/
.our-portfolio-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em; /*todo delete. body has such attr*/
    text-transform: capitalize;
}

.out-portfolio-list-p {
    line-height: 1.5;
        font-size: 16px;
}

/*-----------Footer------------*/
.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
}
.logo-studio-footer{
    color: #f4f4fd;
}
.footer-tag{
    background: #2e2f42;
}