body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}
ul{
    margin: 0;
    padding-left: 0;
}
li {
    list-style-type: none;
} 
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
img{
    display: block;
}

/* -----------Container-----------*/

.container {
    width: 1158px;
    padding: 0 15px; 
    margin: 0 auto;
    box-sizing: border-box;
}

/* -----------Header-------------- */

.header{
    border-bottom: 1px solid #e7e9fc;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.section{
    padding: 120px 0;
}

/*-------------Logo---------------*/

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    display: inline-block;
}

.logo.logo-header{
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

/*--------------------Navigation-----------------*/

.navigation-panel{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.navigation-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.navigation-item {
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    display: inline-block;
    padding: 24px 0; /* add display: inline-block for padding work */
}

.navigation-item:hover,
.navigation-item:focus {
    color: #404bbf;
}

/*todo late Active State again
.navigation-item .navigation-studio-item:active {
    text-decoration: underline;
}*/

/*----------------------Contacts-----------------*/

.contacts-list {
    font-style: normal;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    gap: 40px;

}

.contacts-link {
    line-height: 1.5;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/*-----------Effective Solutions Section----------*/

.effective-solutions-section-title {
    /*todo h2, h3 have the same values -> may use 1 style for all*/
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    /*todo delete. body has such attr*/
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.section.effective-solutions-section {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-color: #2e2f42;
}

.order-service-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0  auto;
}

.order-service-button:hover,
.order-service-button:focus {
    background: #404bbf;
}

/*-------------- Solutions section------------*/

.solutions-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
}

.solutions-list-item{
    width: calc((100% - 3*24px) / 4);
}

.solutions-section-title.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ----------------Common title and text--------------- */

.title-common {
    /*todo h2, h3 have the same values -> may use 1 style for all*/
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /*todo delete. body has such attr*/
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-common {
    line-height: 1.5;
    font-size: 16px;
}

/* ----------Our Team section----------- */

.our-team-section {
    background-color: #f4f4fd;
}

.our-team-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.our-team-info{
    padding: 32px 0;
}

.our-team-list-item {
    flex-basis: calc((100% - 3*24px) / 4);
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
}

.our-team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    /*todo delete. body has such attr*/
    color: #2e2f42;
    margin-bottom: 72px;
}

/* --------------Portfolio--------------- */

.our-portfolio-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    /*todo delete. body has such attr*/
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.out-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    row-gap: 48px;
    column-gap: 24px;
}

.out-portfolio-list-item{
    flex-basis: calc((100% - 2*24px) / 3);
}

.out-portfolio-info{
    text-align: start;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

/*----------------Footer----------------*/

.logo.logo-footer {
    margin-bottom: 16px;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    width: 254px;
}

.logo-studio-footer {
    color: #f4f4fd;
}

.footer-tag {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: start;
}